<% include ./partials/header %>

<h1 style="color:white;font-family: 'Vast Shadow', cursive;"> Track your expenses here! </h1>

<div class='name'>
<% person.forEach(person => { %> 
 <h2> <%= person.name %>, Monthly income: $<%=person.monthly_income%> </h2>
   <% }) %>
</div>
<table style="width:25%" class="table">
<% bill.forEach(bill => { %>
<form action="/bills/<%= bill.id %>/edit" method="GET">
  <thead>
  <tr>
  <th>Expense</th>
  <th>Amount</th>
  <th> <form action="/bills/<%= bill.id %>/edit" method="GET">
<button id="edit" type="submit">Edit</button> </th> </form>
  <th> <form action="/bills/<%= bill.id %>/?_method=DELETE" method="POST">
  <button id="delete" type="submit">Delete</button>
  </form> </th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Rent:</td> <td> $<%=bill.rent %> </td>
  </tr>
  <tr>
  <td>Electric:</td> <td> $<%=bill.electric %> </td>
  </tr>
  <tr>
  <td>Car:</td> <td> $<%=bill.car %> </td>
  </tr>
  <tr>
  <td>Inurance:</td> <td> $<%=bill.insurance %> </td>
  </tr>
  <tr>
  <td>Food:</td> <td> $<%=bill.food %> </td>
  </tr>
  <tr>
  <td>Other:</td> <td> $<%=bill.other %> </td>
  </tr>
  </tbody>
  
 <% }) %>

 </table>

 <% include ./partials/footer %>

 