<% include ./partials/header %>

<h1> Track your bills here! </h1>

<div class='name'>
<% person.forEach(person => { %> 
 <h2> <%= person.name %> </h2>
   <% }) %>
</div>
<div class="my-bills">
<% bill.forEach(bill => { %>
<form action="/bills/<%= bill.id %>/edit" method="GET">
<button type="submit">Edit</button>
  <li>Rent: <%= bill.rent %> </li>
  <li>Electric: <%= bill.electric %></li>
  <li>Car: <%= bill.car %></li>
  <li>Insurance: <%= bill.insurance %></li>
  <li>Food: <%= bill.food %></li>
  <li>Other: <%= bill.other %></li>
  </form>
  <form action="/bills/<%= bill.id %>/?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
  </form>
  
 <% }) %>

 </div>