<% include ../partials/header %>

<h2 style="color:white;"> Make changes here </h2>
<div class="bill-container">

<form action="/bills/ <%= bill.id %>?_method=PUT" method="POST"> </br>

<label for="people_id">
Name <select name="people_id" type="text">
     <option value = '1'>Alex</option>
</select>
</label></br>

<input type="text" name="rent" placeholder='Rent' value='<%= bill.rent %>'/> </br>

<input type="text" name="electric" placeholder='Electric' value='<%= bill.electric %>'/> </br>

<input type="text" name="car" placeholder='Car' value='<%= bill.electric %>'/> </br>

<input type="text" name="insurance" placeholder='Insurance' value='<%= bill.insurance %>'/> </br>

<input type="text" name="food" placeholder='Food' value='<%= bill.food %>'/> </br>

<input type="text" name="other" placeholder='Other' value='<%= bill.other %>'/> </br>



<button class="edit" type="submit">Update</button>

</form>
</div>

 <% include ../partials/footer %>


